@using Spotify.Models.ViewModels

@model SearchViewModel

@{
    ViewBag.Title = "Sök";
}

<h1>SPOTIFY - SÖK</h1>

@if (Model.SpotifyItems.Any())
{
    <ul>
        @foreach (var item in Model.SpotifyItems)
        {
            <li>@item.Artist -  @item.Song</li>
        }    
    </ul>
}

@if (Model.Artist.Result.Artists.Items.Any())
{
    <ul>
        @foreach (var item in Model.Artist.Result.Artists.Items)
        {
            <li>@item.Name</li>
        }
    </ul>
}